$app-grey: #fafafa;
$toolbar-grey: #fafafa;

$blue: #2196F3;
$red: #d72522;
$dark-grey-text: #404040;

$red-gradient: linear-gradient(to right, #e52d27 0%, #b31217 100%);
$orange-gradient: linear-gradient(to right, #f46b45 0%, #eea849 100%);
$blue-gradient: linear-gradient(to right, #1fa2ff 0%, #12d8fa 100%);
$blue-cyan-gradient: linear-gradient(90deg, rgba(15,147,195,1) 0%, rgba(0,200,163,1) 100%);
$red-black-gradient: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(186,0,0,1) 100%);
