@import "colors";

$toolbar-shadow: 0 3px 46px rgba(0, 0, 0, 0.03);
$light-shadow: 0 5px 35px rgba(0, 0, 0, 0.03);
$btn-shadow: 0 3px 10px rgba(0, 0, 0, 0.11);

/***********************/
/******* GENERAL *******/
/***********************/

.full-width {
  width: 100%;
}
.card-size {
  width: 400px
}

.small-round-corners {
  border-radius: 8px;
}
.medium-round-corners {
  border-radius: 10px;
}
.full-round-corners {
  border-radius: 15px
}

.absolute-position {
  position: absolute
}

.clickable {
  cursor: pointer;
}

/**********************/
/******* COLORS *******/
/**********************/

.red-gradient {
  background: $red-gradient;
}
.orange-gradient {
  background: $orange-gradient;
}
.blue-cyan-gradient {
  background: $blue-cyan-gradient;
}
.red-black-gradient {
  background: $red-black-gradient;
}

.grey-text {
  color: $dark-grey-text;
}

/***********************/
/******* SHADOWS *******/
/***********************/

.toolbar-shadow {
  background: $toolbar-shadow;
}
.btn-shadow {
  box-shadow: $btn-shadow;
}
.light-box-shadow {
  box-shadow: $light-shadow;
}

/**********************/
/******* INPUTS *******/
/**********************/

.input-hidden-underline .v-input__slot::before,
.input-hidden-underline .v-input__slot::after {
  display: none;
}
.round-input.theme--light > .v-input__control > .v-input__slot,
.round-input.theme--light.v-text-field--solo > .v-input__control > .v-input__slot {
  @extend .small-round-corners;
}
.light-shadow-input.theme--light > .v-input__control > .v-input__slot,
.light-shadow-input.theme--light.v-text-field--solo > .v-input__control > .v-input__slot {
  box-shadow: $light-shadow;
}

/***********************/
/******* BUTTONS *******/
/***********************/

.blue-border-btn {
  border:solid 2px $blue;
}
.red-border-btn {
  border: solid 2px $red;
}
.fixed-size-btn {
  width: 180px;
  height: 40px;
}

/**************************/
/******* PAGINATION *******/
/**************************/

.round-pagination .v-pagination__item {
  border-radius: 10px;
}
.flat-pagination .v-pagination__navigation,
.flat-pagination .v-pagination__item ,
.flat-pagination .v-pagination__item.v-pagination__item--active {
  box-shadow: none;
  outline: none;
}

/*************************/
/******* ANIMATION *******/
/*************************/

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.page-enter-active,
.page-leave-active {
  transition: all .6s;
}
.page-enter {
  opacity: 0;
  transform: translateX(5px);
}
.page-leave-to {
  opacity: 0;
  transform: translateX(-5px);
}
