@import "helpers/index";

.app-toolbar {
  z-index: 3;

  .v-toolbar__content {
    padding: 0;

    @media only screen and (min-width: 960px) {
      max-width: 900px;
      margin: auto;
    }
    @media only screen and (min-width: 1264px) {
      max-width: 1185px;
    }
  }

}

.v-messages {
  min-height: 14px;
}
